Repository moveit/warehouse_ros_sqlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

1.0.2
  CHANGELOG.rst
  package.xml
Due: none

Update package.xml
  package.xml
Due: none

Don't build warehouse_ros from source
  .github/workflows/build_and_test.yaml
  README.md
  warehouse_ros.rosinstall
Due: none

don't build warehouse_ros from source
  .github/workflows/build_and_test.yaml
  README.md
  warehouse_ros_sqlite.repos
Due: none

disable header include order check
  .pre-commit-config.yaml
  CMakeLists.txt
  package.xml
Due: ament_lint_cmake

add missing stdlib include
  include/warehouse_ros_sqlite/utils.hpp
Due: ament_cppcheck, ament_cpplint

Update warehouse_ros.rosinstall
  warehouse_ros.rosinstall
Due: none

Add humble testing CI
  .github/workflows/build_and_test.yaml
Due: none

Add humble testing CI (#37)
  .github/workflows/build_and_test.yaml
Due: none

Update Changelog
  CHANGELOG.rst
Due: none

1.0.3
  CHANGELOG.rst
  package.xml
Due: none

Humble main CI and prerelease
  .github/workflows/build_and_test.yaml
  .github/workflows/prerelease.yaml
Due: none

Use warehouse_ros from Debians (#36)
  .github/workflows/build_and_test.yaml
  README.md
  warehouse_ros.rosinstall
Due: none

do not enforce c++ standard to 14
  CMakeLists.txt
Due: ament_lint_cmake

correctly declare and use pluginlib
  CMakeLists.txt
  package.xml
  src/database_connection.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Correctly declare and use pluginlib (#40)
  CMakeLists.txt
  package.xml
  src/database_connection.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Switch to clang-format-14
  .pre-commit-config.yaml
Due: none

Switch to clang-format-14, cleanup pre-commit config (#41)
  .pre-commit-config.yaml
Due: none

Add test for appendGTE and friends.
  test/DatabaseConnection.cpp
Due: ament_cppcheck, ament_cpplint

Use backticks to enquote SQL identifiers
  include/warehouse_ros_sqlite/utils.hpp
  test/DatabaseConnection.cpp
Due: ament_cppcheck, ament_cpplint

Fix column name escaping (#44)
  include/warehouse_ros_sqlite/utils.hpp
  test/DatabaseConnection.cpp
Due: ament_cppcheck, ament_cpplint

Fix column name escaping (#44)
  include/warehouse_ros_sqlite/utils.h
  test/DatabaseConnection.cpp
Due: ament_cppcheck, ament_cpplint

1.0.4
  CHANGELOG.rst
  package.xml
Due: none

CI: Update action versions
  .github/workflows/build_and_test.yaml
  .github/workflows/format.yaml
  .github/workflows/prerelease.yaml
  .pre-commit-config.yaml
Due: none

CI: Switch prerelease workflow to use ROS_DISTRO input
  .github/workflows/prerelease.yaml
Due: none

0.9.1
  CHANGELOG.rst
  package.xml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update prerelease.yaml to node.js20
  .github/workflows/prerelease.yaml
Due: none

Update distros into prerelease.yaml
  .github/workflows/prerelease.yaml
Due: none

fix node.js dieprecation into format.yaml
  .github/workflows/format.yaml
Due: none

Updateros distros into build_and_test.yaml
  .github/workflows/build_and_test.yaml
Due: none

CI: Update actions
  .github/workflows/build_and_test.yaml
  .github/workflows/format.yaml
  .github/workflows/prerelease.yaml
  .pre-commit-config.yaml
Due: none

Silent gcc warning
  test/DatabaseConnection.cpp
Due: ament_cppcheck, ament_cpplint

Fix package dependencies
  package.xml
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
